<section class="my-4 px-4">
    <h1 class="text-3xl">Circuits</h1>

    <div id="all_circuits" class="mt-4 scroll-mt-12 ">
        <div class="mb-2.5 flex font-serif text-xl px-2 w-full">
            <div class="flex items-center text-green-700 ">
                GET
            </div>
            <div class="flex-1 flex items-center p-2">
                List of all circuits
            </div>
        </div>
        <div class="px-4">
            <div class="">
                <div class="mb-4">
                    <div class="my-1.5">
                        This endpoint allows you to search and retrieve a list of circuits used in Formula One. The
                        search can include both active and historical circuits, depending on the provided query
                        parameters. It supports filtering by season, location, enabling you to narrow down the
                        results. If no filters are applied, the endpoint returns all circuits in the database.
                    </div>
                    <div class="w-full flex p-2 bg-gray-700">
                        <div class="flex items-center text-green-400 ">
                            GET
                        </div>
                        <div class="flex-1 flex items-center px-4 text-white">
                            https://formulaone.prb-dev.fr/api/circuits
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <h3 class="my-1.5 text-xl font-semibold text-gray-500">Headers</h3>
                    <div class="mb-2 px-4">
                        <p class="text-gray-500 font-light mb-1.5">Response Headers:</p>
                        <ul class="list-disc list-outside ps-5">
                            <li class="bg-gray-200">
                                Content-Type: application/json
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="mb-4">
                    <h3 class="my-1.5 text-xl font-semibold text-gray-500">Parameters</h3>
                    <div class="relative overflow-x-auto">
                        <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    Name
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Type
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Example
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Description
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="bg-white border-b ">
                                <th scope="row"
                                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                                    country
                                </th>
                                <td class="px-6 py-4">
                                    string
                                </td>
                                <td class="px-6 py-4">
                                    France
                                </td>
                                <td class="px-6 py-4">
                                    Filters the results to include only data related to the specified country.
                                </td>
                            </tr>
                            <tr class="bg-white border-b ">
                                <th scope="row"
                                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                                    season
                                </th>
                                <td class="px-6 py-4">
                                    number
                                </td>
                                <td class="px-6 py-4">
                                    2022
                                </td>
                                <td class="px-6 py-4">
                                    Filters the results to include only circuits that were used in races during the
                                    specified Formula One season. Use this parameter to retrieve circuits associated
                                    with a particular year.
                                </td>
                            </tr>
                            <tr class="bg-white border-b ">
                                <th scope="row"
                                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                                    page
                                </th>
                                <td class="px-6 py-4">
                                    number
                                </td>
                                <td class="px-6 py-4">
                                    1
                                </td>
                                <td class="px-6 py-4">
                                    Specifies the page number of the results to retrieve when the data is paginated. Use
                                    this parameter to navigate through large datasets.(default is 1)
                                </td>
                            </tr>
                            <tr class="bg-white border-b ">
                                <th scope="row"
                                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                                    limit
                                </th>
                                <td class="px-6 py-4">
                                    number
                                </td>
                                <td class="px-6 py-4">
                                    8
                                </td>
                                <td class="px-6 py-4">
                                    Defines the maximum number of results to return per page when retrieving paginated
                                    data. (default limit is 8)
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <div class="w-full flex p-2 bg-gray-800 text-white">
                        Example Request and Response
                    </div>
                    <div class="w-full flex p-2 bg-gray-700">
                        <div class="flex items-center text-green-400 ">
                            GET
                        </div>
                        <div class="flex-1 flex items-center px-4 text-white">
                            https://formulaone.prb-dev.fr/api/circuits?season=2022
                        </div>
                    </div>
                    <div class="p-2 bg-gray-200 overflow-x-auto">

                        {% set data =
                            {
                                "results": [
                                {
                                    "id": 8,
                                    "name": "Bahrain International Circuit",
                                    "country": "BAHRAIN",
                                    "short_name": "Bahrain"
                                },
                                {
                                    "id": 33,
                                    "name": "Jeddah Corniche Circuit",
                                    "country": "SAUDI-ARABIA",
                                    "short_name": "Jeddah"
                                },
                                {
                                    "id": 41,
                                    "name": "Melbourne Grand Prix Circuit",
                                    "country": "AUSTRALIA",
                                    "short_name": "Melbourne"
                                },
                                {
                                    "id": 27,
                                    "name": "Autodromo Internazionale Enzo e Dino Ferrari",
                                    "country": "ITALY",
                                    "short_name": "Enzo e Dino Ferrari"
                                },
                                {
                                    "id": 43,
                                    "name": "Miami International Autodrome",
                                    "country": "UNITED-STATES-OF-AMERICA",
                                    "short_name": "Miami"
                                },
                                {
                                    "id": 16,
                                    "name": "Circuit de Barcelona-Catalunya",
                                    "country": "SPAIN",
                                    "short_name": "Catalunya"
                                },
                                {
                                    "id": 44,
                                    "name": "Circuit de Monaco",
                                    "country": "MONACO",
                                    "short_name": "Monaco"
                                },
                                {
                                    "id": 9,
                                    "name": "Baku City Circuit",
                                    "country": "AZERBAIJAN",
                                    "short_name": "Baku"
                                }
                            ],
                                "totalItems": 22,
                                "currentPage": 1,
                                "itemsPerPage": 8,
                                "totalPages": 3
                            } %}
                        <pre>{{ data|json_encode(constant('JSON_PRETTY_PRINT')  b-or constant('JSON_UNESCAPED_UNICODE')) }}</pre>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="circuit_information" class="mt-4 scroll-mt-12 ">
        <div class="my-2.5 flex font-serif text-xl px-2 w-full">
            <div class="flex items-center text-green-700 ">
                GET
            </div>
            <div class="flex-1 flex items-center p-2">
                Circuit Information
            </div>
        </div>
        <div class="px-4">
            <div class="">
                <div class="mb-4">
                    <div class="my-1.5">
                        This endpoint retrieves detailed information about a specific Formula One circuit by using its
                        unique identifier in the database. The returned data includes key details such as the circuit's
                        name, location.
                    </div>
                    <div class="w-full flex p-2 bg-gray-700">
                        <div class="flex items-center text-green-400 ">
                            GET
                        </div>
                        <div class="flex-1 flex items-center px-4 text-white">
                            https://formulaone.prb-dev.fr/api/circuits/{id}
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <h3 class="my-1.5 text-xl font-semibold text-gray-500">Headers</h3>
                    <div class="mb-2 px-4">
                        <p class="text-gray-500 font-light mb-1.5">Response Headers:</p>
                        <ul class="list-disc list-outside ps-5">
                            <li class="bg-gray-200">
                                Content-Type: application/json
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="mb-4">
                    <h3 class="my-1.5 text-xl font-semibold text-gray-500">Parameters</h3>
                    <div class="relative overflow-x-auto">
                        <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    Name
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Type
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Example
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Description
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="bg-white border-b ">
                                <th scope="row"
                                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                                    id
                                </th>
                                <td class="px-6 py-4">
                                    number
                                </td>
                                <td class="px-6 py-4">
                                    1
                                </td>
                                <td class="px-6 py-4">
                                    The id of the circuit.
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <div class="w-full flex p-2 bg-gray-800 text-white">
                        Example Request and Response
                    </div>
                    <div class="w-full flex p-2 bg-gray-700">
                        <div class="flex items-center text-green-400 ">
                            GET
                        </div>
                        <div class="flex-1 flex items-center px-4 text-white">
                            https://formulaone.prb-dev.fr/api/circuit/65
                        </div>
                    </div>
                    <div class="p-2 bg-gray-200 overflow-x-auto">
                        {% set data =
                            {
                                "id": 65,
                                "name": "Shanghai International Circuit",
                                "country": "CHINA",
                                "short_name": "Shanghai",
                                "location": "Shanghai",
                                "type": "RACE",
                            } %}
                        <pre>{{ data|json_encode(constant('JSON_PRETTY_PRINT')  b-or constant('JSON_UNESCAPED_UNICODE')) }}</pre>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>